# Feature Engineering

In this notebook, I will grab the data produced in the second notebook, and I will apply feature engineering tools, such as PCA & UMAP's.  
I will also explore the library FeatureTools. I have never used it, and I am not sure if it applies to this dataset, and what value does it bring, but that's what I intend to find out.

Everything I do in this notebook will be applied to the methods in the fifth notebook, and revised as needed.  

I will also try to create an Airflow DAG with the functions to load and transform the data to feed to the subsequent notebook methods.   
Some of these.

# Load Data & libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np

In [2]:
# Import the data.
# Using the data with the train/test/dev sets already defined (In the column set)

dfInput = pd.read_csv('../output/dataReady.csv', index_col = 'idx')

In [1]:
import seaborn as sns

exercise = sns.load_dataset("exercise")

In [2]:
exercise

    Unnamed: 0  id     diet  pulse    time     kind
0            0   1  low fat     85   1 min     rest
1            1   1  low fat     85  15 min     rest
2            2   1  low fat     88  30 min     rest
3            3   2  low fat     90   1 min     rest
4            4   2  low fat     92  15 min     rest
..         ...  ..      ...    ...     ...      ...
85          85  29   no fat    135  15 min  running
86          86  29   no fat    130  30 min  running
87          87  30   no fat     99   1 min  running
88          88  30   no fat    111  15 min  running
89          89  30   no fat    150  30 min  running

[90 rows x 6 columns]

## Map

Idk, I can start by transformations. Like `log` and normalizations. Also by creating shallow decision trees on each feature. List time.   
1. Log
2. Normalization
3. Interactions between features
4. Shallow decisions trees

Other techniques include dimensionality reduction techniques.
1. PCA
2. UMAP